.venv
.venv/*
*.py[cod]
__pycache__/
.DS_Store
.env
.env.local
.env.*.local
.env.*.example
.env.example
.env.local.example
.env.local.example.*
.env.local.*
.env.*
.env.*.*
.env.*.env
.env.*.env.*
.env.*.env.local
.env.*.env.local.*
.env.*.env.example
.env.*.env.example.*
.env.*.env.local.example
